/* ==========================================
   GOOGLE FONT
========================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ==========================================
   GLOBAL
========================================== */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Poppins',sans-serif;

}


body{

    background:#0f172a;
    color:white;
    overflow-x:hidden;

}


section{

    padding:100px 10%;

}


/* Scrollbar */

::-webkit-scrollbar{

    width:10px;

}


::-webkit-scrollbar-track{

    background:#111827;

}


::-webkit-scrollbar-thumb{

    background:linear-gradient(#8b5cf6,#06b6d4);
    border-radius:20px;

}





/* ==========================================
 NAVBAR
========================================== */


header{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;

    backdrop-filter:blur(15px);

    background:rgba(15,23,42,.75);

    border-bottom:1px solid rgba(255,255,255,.1);

}




.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 8%;

}



.logo h2{

    color:white;
    font-size:32px;

}



.logo span{

    color:#38bdf8;

}



.nav-links{

    display:flex;
    list-style:none;
    gap:35px;

}



.nav-links a{

    text-decoration:none;
    color:white;
    font-size:17px;
    font-weight:500;
    transition:.3s;

}



.nav-links a:hover{

    color:#38bdf8;

}



.menu-btn{

    display:none;
    font-size:30px;
    cursor:pointer;

}







/* ==========================================
 HOME
========================================== */


.home{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:70px;

}




.home-content{

    flex:1;

}



.home-content h3{

    color:#38bdf8;

    font-size:25px;

}




.home-content h1{

    font-size:65px;

    margin:15px 0;

}





.home-content h2{

    font-size:35px;

    margin-bottom:20px;

}



.typing{

    color:#38bdf8;

    font-weight:bold;

}




.home-content p{

    color:#d1d5db;

    font-size:18px;

    line-height:32px;

    margin-bottom:35px;

}






/* Buttons */


.buttons{

    display:flex;

    gap:20px;

    margin-bottom:30px;

}




.btn1,
.btn2{


    padding:14px 35px;

    border-radius:40px;

    text-decoration:none;

    font-weight:600;

    transition:.4s;


}



.btn1{

    background:#38bdf8;

    color:white;

}



.btn2{

    border:2px solid #38bdf8;

    color:white;

}



.btn1:hover{

    transform:translateY(-5px);

    box-shadow:0 0 25px #38bdf8;

}



.btn2:hover{

    background:#38bdf8;

}







/* Social */


.social-icons{

    display:flex;

    gap:20px;

}



.social-icons a{


    width:50px;

    height:50px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(255,255,255,.08);

    color:white;

    text-decoration:none;

    transition:.4s;


}




.social-icons a:hover{

    background:#38bdf8;

    transform:translateY(-8px);

}







/* Profile Image */


.home-image{

    flex:1;

    display:flex;

    justify-content:center;

}



.home-image img{


    width:360px;

    height:360px;

    object-fit:cover;

    border-radius:50%;

    border:8px solid #38bdf8;

    box-shadow:0 0 40px #38bdf8;

    animation:floatImage 4s infinite;


}



@keyframes floatImage{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-20px);

}


100%{

transform:translateY(0);

}


}






/* ==========================================
 SECTION TITLE
========================================== */


.section-title{

    text-align:center;

    margin-bottom:60px;

}



.section-title h2{


    font-size:42px;

    color:#38bdf8;

}






/* ==========================================
 ABOUT
========================================== */


.about-container{


display:flex;

justify-content:space-between;

align-items:center;

gap:80px;

flex-wrap:wrap;


}



.about-image img{


width:350px;

height:350px;

object-fit:cover;

border-radius:25px;

border:5px solid #38bdf8;

}



.about-content{

flex:1;

}



.about-content h2{

color:#38bdf8;

font-size:38px;

margin-bottom:20px;

}




.about-content p{

color:#d1d5db;

line-height:32px;

font-size:18px;

}

/* ==========================================
   CAREER OBJECTIVE
========================================== */


.career-box{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border-radius:25px;

    border:1px solid rgba(255,255,255,.15);

    padding:40px;

    text-align:center;

    transition:.4s;

}



.career-box:hover{

    transform:translateY(-8px);

    box-shadow:0 0 30px rgba(56,189,248,.4);

}



.career-box p{

    color:#e5e7eb;

    font-size:20px;

    line-height:34px;

}







/* ==========================================
        EDUCATION
========================================== */


.education-container{


    display:flex;

    flex-direction:column;

    align-items:center;

    gap:30px;

    margin-top:50px;


}




.education-card{


    width:750px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border-radius:25px;

    padding:40px;

    border-left:6px solid #38bdf8;

    transition:.4s;


}



.education-card:hover{


    transform:translateY(-8px);

    box-shadow:0 0 30px rgba(56,189,248,.4);


}




.education-card span{


    color:#38bdf8;

    font-weight:600;

    font-size:18px;


}



.education-card h2{


    margin:18px 0;

    font-size:30px;


}



.education-card h3{


    color:#d1d5db;

    margin-bottom:20px;


}



.education-card p{


    color:#d1d5db;

    line-height:30px;

    font-size:17px;


}







/* ==========================================
        SKILLS
========================================== */


.skills-container{


    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));

    gap:30px;


}




.skill-card{


    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border-radius:20px;

    padding:35px 20px;

    text-align:center;

    border:1px solid rgba(255,255,255,.1);

    transition:.4s;

    cursor:pointer;


}



.skill-card:hover{


    transform:translateY(-12px);

    box-shadow:0 0 30px rgba(56,189,248,.4);


}



.skill-card i{


    font-size:55px;

    color:#38bdf8;

    margin-bottom:20px;


}



.skill-card h3{


    font-size:20px;

}






/* ==========================================
        PROJECTS
========================================== */


.projects-container{


    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(380px,1fr));

    gap:35px;

    margin-top:50px;


}





.project-card{


    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border-radius:25px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.12);

    transition:transform .3s ease, box-shadow .3s ease;

    box-shadow:0 15px 35px rgba(0,0,0,.25);


}






/* ONLY SMALL ZOOM EFFECT */


.project-card:hover{


    transform:scale(1.03);

    box-shadow:0 0 30px rgba(56,189,248,.5);


}






.project-card img{


    width:100%;

    height:240px;

    object-fit:cover;

    transition:.4s;


}




.project-card:hover img{


    transform:scale(1.05);


}





.project-content{


    padding:25px;


}





.project-content h2{


    color:#38bdf8;

    margin-bottom:15px;


}




.project-content p{


    color:#d1d5db;

    line-height:28px;

    margin-bottom:18px;


}





.project-content ul{


    margin-left:20px;

    color:white;

    line-height:30px;

    margin-bottom:20px;


}







/* Technology Tags */


.tech{


    display:flex;

    flex-wrap:wrap;

    gap:12px;

    margin-bottom:25px;


}



.tech span{


    padding:8px 18px;

    border-radius:30px;

    background:#38bdf8;

    color:white;

    font-size:14px;

    transition:.3s;


}




.tech span:hover{


    background:#8b5cf6;

    transform:scale(1.08);


}






/* Source Code Button */


.project-buttons{


    display:flex;

    gap:15px;


}





.project-buttons a{


    text-decoration:none;

    padding:12px 28px;

    border-radius:30px;

    background:#38bdf8;

    color:white;

    transition:.3s;

    font-weight:500;


}





.project-buttons a:hover{


    background:#8b5cf6;

    transform:scale(1.05);


}

/* ==========================================
        CONTACT
========================================== */


.contact-container{

    display:flex;

    justify-content:space-between;

    gap:50px;

    flex-wrap:wrap;

}



.contact-form,
.contact-info{

    flex:1;

    min-width:320px;

}





.contact-form{


    background:rgba(255,255,255,.08);

    padding:35px;

    border-radius:25px;

    backdrop-filter:blur(15px);


}






.contact-form input,
.contact-form textarea{


    width:100%;

    padding:16px;

    margin-bottom:20px;

    border:none;

    border-radius:15px;

    outline:none;

    background:#1e293b;

    color:white;


}





.send-btn{


    width:100%;

    padding:15px;

    border:none;

    border-radius:30px;

    background:#38bdf8;

    color:white;

    cursor:pointer;

    transition:.4s;


}




.send-btn:hover{


    background:#8b5cf6;

    transform:scale(1.03);


}






.contact-info h2{


    color:#38bdf8;

    margin-bottom:20px;


}





.contact-info p{


    color:#d1d5db;

    line-height:30px;


}





.info-box{


    display:flex;

    align-items:center;

    gap:18px;

    margin:25px 0;


}





.info-box i{


    width:55px;

    height:55px;

    border-radius:50%;

    background:#38bdf8;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;


}






/* Social Links */


.social-links{


    display:flex;

    gap:18px;

    margin:30px 0;


}





.social-links a{


    width:55px;

    height:55px;

    border-radius:50%;

    background:#1e293b;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    text-decoration:none;

    transition:.4s;


}




.social-links a:hover{


    background:#38bdf8;

    transform:translateY(-8px);


}







.resume-btn{


    display:inline-block;

    padding:14px 35px;

    border-radius:30px;

    background:#38bdf8;

    color:white;

    text-decoration:none;

    transition:.4s;


}




.resume-btn:hover{


    background:#8b5cf6;

    transform:scale(1.05);


}









/* ==========================================
        FOOTER
========================================== */


footer{


    background:#020617;

    margin-top:100px;

    padding:40px 10%;

    text-align:center;


}





.footer-social{


    display:flex;

    justify-content:center;

    gap:20px;

    margin:25px 0;


}





.footer-social a{


    color:white;

    font-size:28px;

    transition:.4s;


}




.footer-social a:hover{


    color:#38bdf8;


}





footer hr{


    margin:30px 0;

    border:.5px solid rgba(255,255,255,.15);


}








/* ==========================================
        BACK TO TOP
========================================== */


#topBtn{


    position:fixed;

    right:30px;

    bottom:30px;

    width:55px;

    height:55px;

    border:none;

    border-radius:50%;

    background:#38bdf8;

    color:white;

    font-size:22px;

    cursor:pointer;

    display:none;

    transition:.4s;


}





#topBtn:hover{


    background:#8b5cf6;

    transform:scale(1.1);


}








/* ==========================================
        RESPONSIVE
========================================== */



@media(max-width:992px){



.home{


    flex-direction:column-reverse;

    text-align:center;


}





.home-content h1{


    font-size:48px;


}





.home-content h2{


    font-size:28px;


}





.about-container{


    flex-direction:column;


}





.contact-container{


    flex-direction:column;


}





.nav-links{


    display:none;


}





.menu-btn{


    display:block;


}





.education-card{


    width:100%;


}





.projects-container{


    grid-template-columns:1fr;


}





.buttons{


    justify-content:center;


}




.social-icons{


    justify-content:center;


}


}







@media(max-width:600px){



section{


    padding:80px 5%;


}





.home-content h1{


    font-size:40px;


}





.home-image img{


    width:280px;

    height:280px;


}





.section-title h2{


    font-size:32px;


}





.project-card img{


    height:200px;


}





.education-card{


    padding:25px;


}




}