*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}



body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
135deg,
#003366,
#00a8cc
);

}





.auth-container{

background:white;

width:400px;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}





.auth-container h1{

color:#003366;

font-size:35px;

margin-bottom:15px;

}




.auth-container h2{

color:#333;

margin-bottom:25px;

}





.auth-container form{

display:flex;

flex-direction:column;

}





input{

width:100%;

padding:14px;

margin:10px 0;

border:1px solid #ccc;

border-radius:10px;

font-size:15px;

}





button{

width:100%;

padding:14px;

margin-top:20px;

background:#003366;

color:white;

border:none;

border-radius:25px;

font-size:16px;

cursor:pointer;

}





button:hover{

background:#00a8cc;

}





.auth-container p{

margin-top:20px;

}





.auth-container a{

color:#003366;

text-decoration:none;

font-weight:bold;

}





.auth-container a:hover{

color:#00a8cc;

}





@media(max-width:500px){


.auth-container{

width:90%;

padding:30px;

}


}