*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}





body{

background:#f5f8ff;

}







header{

background:#003366;

color:white;

padding:25px;

text-align:center;

}







header h1{

font-size:35px;

}







.cards-section{

padding:50px;

text-align:center;

}







.cards-section h2{

color:#003366;

font-size:35px;

margin-bottom:35px;

}







.card-container{

display:flex;

justify-content:center;

gap:30px;

}







.bank-card{

background:white;

width:320px;

padding-bottom:25px;

border-radius:20px;

overflow:hidden;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}







.bank-card img{

width:100%;

height:200px;

object-fit:cover;

}







.bank-card h3{

color:#003366;

font-size:25px;

margin:20px;

}







.bank-card p{

padding:0 20px;

line-height:1.5;

}







button{

background:#003366;

color:white;

border:none;

padding:12px 25px;

border-radius:25px;

cursor:pointer;

margin:10px;

font-size:15px;

}







button:hover{

background:#00a8cc;

}







.card-details{

background:white;

width:450px;

margin:40px auto;

padding:35px;

border-radius:20px;

text-align:center;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}







.card-details h2{

color:#003366;

margin-bottom:20px;

}







#cardInfo h3{

color:#003366;

margin:10px;

}







#cardInfo p{

margin:10px;

font-size:16px;

}








@media(max-width:900px){


.card-container{

flex-direction:column;

align-items:center;

}



.card-details{

width:90%;

}



}