*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}



body{

background:#f5f8ff;

text-align:center;

}






header{

background:#003366;

color:white;

padding:25px;

}



header h1{

font-size:35px;

}








.chart-container{

display:flex;

justify-content:center;

gap:40px;

padding:50px;

}





.chart-box{

background:white;

width:450px;

padding:30px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}





.chart-box h2{

color:#003366;

margin-bottom:25px;

}





canvas{

max-width:100%;

}







button{

background:#003366;

color:white;

border:none;

padding:12px 30px;

border-radius:25px;

cursor:pointer;

font-size:16px;

margin-bottom:30px;

}





button:hover{

background:#00a8cc;

}







@media(max-width:900px){


.chart-container{

flex-direction:column;

align-items:center;

}



.chart-box{

width:90%;

}



}