*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}





body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f4f8ff;

}





.profile-container{

background:white;

width:450px;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 5px 25px rgba(0,0,0,0.15);

}





.profile-container h1{

color:#003366;

margin-bottom:25px;

}





.profile-image img{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

margin-bottom:25px;

}





.profile-details{

display:flex;

flex-direction:column;

gap:10px;

}





.profile-details label{

text-align:left;

font-weight:600;

color:#003366;

}





input{

width:100%;

padding:13px;

border:1px solid #ccc;

border-radius:10px;

font-size:15px;

}





button{

width:100%;

padding:13px;

background:#003366;

color:white;

border:none;

border-radius:25px;

margin-top:15px;

cursor:pointer;

font-size:16px;

}





button:hover{

background:#00a8cc;

}





#message{

color:green;

margin-top:20px;

}






@media(max-width:500px){


.profile-container{

width:90%;

padding:25px;

}


}